.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.color-box {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px;
}

.text {
  font-size: 20px;
  color: red;
}